html, body, head{
    width: 100%;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

/* ----------------------------- header --------------------------------- */
.top {
    display: block;
    justify-content: center;
    padding: 8px;
}

.menu {
    width: 100%;
    float: right;
    position: relative;
}

.logo {
    height: 100%;
    max-height: 24px;
    padding-left: 12px;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    padding-left: 0px;
}

li {
    float: right;padding-left: 0px;
}

li a{
    color: #000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    text-decoration: underline;
}

/*-------------------------------search section------------------------------------*/
.appbar {
    display: flex;
    margin-left: 70px;
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    width: 100%;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

/*----------------------------------content------------------------------------------*/
#titleRow {
    padding-top: 50px;
    padding: 10px 30px;
    font-style: inherit;
}

.col-sm-5{
    margin-left: -50px;
}

.form-group {
    font-size: 14px;
    padding-left: 30px;
} 

.col-sm-5{
    justify-content: center;
}

.col{
    margin-left: 25px;
}
/*--------------------------------buttons---------------------------------------------*/ 
.button {
    float: right;
    margin-right: 50%;
    line-height: 100%;
}